#page-header{
  display: flex;
  justify-content: center;
  background-color: #222;
  font-size: 1.25rem;
  color: white;
  margin: 0;
  padding: 1rem;
}

.search-box{
  background-color: #222;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-end;

}

.search-box label{
  font-size: 30px;
}

.search-box input[type=text]{
  padding-left: 70px;
  padding-top: 10px;

}
.search-box button{
  padding-top: 11px;
}

#res{
  border: 2px solid #ffffff;
  display: flex;
  flex-flow: row wrap;
  align-items: space-between;

}

#res p {
  background-color: #222222;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 30px;
  
}

